@import url(font-awesome.min.css);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,600);
html, body, div, span, h1, h2, h3, h4, h5, h6, p, pre, a, code, em, strong, b, i, ol, ul, li, table, caption, tbody, tfoot, thead, tr, th, td, section{
    border: 0;
    font: inherit;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}
body{
    background: #327232;
    color: #f0f0f0;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 14pt;
    font-weight: 300;
    line-height: 1.5;
    overflow-x: hidden;
}
a{
    color: #66cd00;
    text-decoration: none;
    transition: 0.2s color ease-in-out;
}
a:hover{
    color: #52a600;
}
a:active{
    color: #499500;
}
em, i{
    font-style: italic;
}
strong, b{
    font-weight: 600;
}
h1{
    font-size: 2.5em;
}
h2{
    font-size: 1.75em;
}
h3{
    font-size: 1.35em;
}
h4{
    font-size: 1.1em;
}
h5{
    font-size: 0.9em;
}
h6{
    font-size: 0.7em;
}
#bg-image{
    background-attachment: fixed;
    background-image: url(../../images/game/spawn.png);
    background-size: cover;
    display: none;
    filter: blur(20px);
    -moz-filter: blur(20px);
    -ms-filter: blur(20px);
    -o-filter: blur(20px);
    -webkit-filter: blur(20px);
    height: 100%;
    position: fixed;
    transform: scale(1.2);
    width: 100%;
    z-index: -999;
}
#header, #footer{
    background: #004f00;
    width: 100%;
}
#header .logo{
    background: linear-gradient(0deg, #eec62d 0%, #37c2f2 100%);
    border-radius: 0 0 5px 5px;
    float: left;
    height: 4.5em;
    margin: 0 1em 0 0.5em;
    padding: 0.5em;
    transition: 0.2s background ease-in-out;
}
#header .list{
    display: block;
    margin-left: 1em;
    transform: skew(-20deg);
}
#header .list li{
    border-top: 2px solid transparent;
    display: inline-block;
    transition: 0.2s all ease-in-out;
}
#header .list li:hover{
    background: #006400;
    border-top-color: #66cd00;
}
#header .list li:active{
    background: #005a00;
}
#header .list li > *{
    transform: skew(20deg);
}
#header .list li > a{
    color: inherit;
    display: block;
    padding: 0.8em;
}
#header .list li .icon{
    margin-right: 0.375em;
}
#content{
    margin-top: 2em;
    padding: 1em;
}
#footer{
    padding: 0.8em;
}
#footer .list li{
    display: inline-block;
}
#footer .list li + li:before{
    content: "\00b7";
    padding: 0 0.5em 0 0.5em;
}
.icon{
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    text-transform: none !important;
}
@media screen and (max-width: 736px){
    #header .logo{
        height: 2em;
    }
    #header .list li .label{
        display: none;
    }
    #header .list li .icon{
        display: block;
        margin: 0;
    }
}